body {
    background-color: black;
    margin-top: 0px;
}
p {
    color: white;
    font-family: "mario_world";
    font-size: 20px;
}
h3 {
    color: white;
    font-family: "pixel";
    font-size: 30px;
}
table {
    color: white;
}
td {
    padding-left: 10px;
    padding-right: 10px;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
}
a {
    text-decoration: none;
    color: white;
}
@font-face {
    font-family: "mario_world";
    src: url("FONTS/mario_world.ttf");
    }
@font-face {
    font-family: "mario64";
    src: url("FONTS/mario64.otf");
    }
@font-face {
    font-family: "pixel";
    src: url("FONTS/pixel.ttf");
    }