body {
    background-color: black;
    margin-top: 0px;
}
p {
    color: white;
    
    font-size: 20px;
}
h3 {
    color: white;
    
    font-size: 30px;
}
h1 {
    color: white;
    
    font-size: 50px;
}
h2 {
    color: white;
}
h4 {
    color: white;
}
table {
    color: white;
}
td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 15vw;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
}
a {
    text-decoration: none;
    color: white;
}
img {
    float: left;
}
a:hover {
    transition-duration: 1s;
    height: auto;
    font-size: 1.5vw;
    color: antiquewhite;
}
.album {
    color: #ceffaf;
}
@font-face {
    font-family: "mario_world";
    src: url("FONTS/mario_world.ttf");
    }
@font-face {
    font-family: "mario64";
    src: url("FONTS/mario64.otf");
    }
@font-face {
    font-family: "pixel";
    src: url("FONTS/pixel.ttf");
    }