body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: black;
}
a {
    text-decoration: none;
    color: white;
    display: flex;
}
a:hover {
    color: bisque;
    transition-duration: 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1 {
    font-size: 8vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@font-face {
    font-family: Title;
    src: url(FONTS/alfaslab.ttf);
}

/*BLOKI*/

.blok1 {
    background-image: url('IMG/blok1-1.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s;
}

.tytul_blok {
    width: 40%;
    text-align: center;
    font-size: 6vw;
    animation: fadeIn;
    animation-duration: 1s;
    font-family: Title;
    border-radius: 25px;
    padding-right: 50vw;
    padding-bottom: 40vh;
    color: white;
    text-shadow: 10px 10px 6px black;
}

.blok2 {
    background-image: url('IMG/blok2-1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    animation: fadeIn 1s;
    display: flex;
}

.blok3 {
    background-color: #22170F;
    width: 100%;
    height: 100%;
    animation: fadeIn 1s;
    display: flex;
}

.blok4 {
    background-color: #5D3E29;
    width: 100%;
    height: 5%;
    animation: fadeIn 1s;
    display: flex;
}

.blok5 {
    width: 100%;
    height: 100%;
    animation: fadeIn 1s;
    display: flex;
}

/*TREŒCI*/

.tresc1 {
    flex: 1;
    flex-direction: row;
    display: flex;
    margin-left: 4vh;
    margin-right: 4vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}
.tresc2 {
    flex: 1;
    flex-direction: row;
    display: flex;
    margin: auto;
    color: white;
    justify-content: center;
    gap: 5%;
}

.tresc3 {
    display: flex;
    flex: 1;
}
.tresc4 {
    flex: 1;
    flex-direction: row;
    display: flex;
    color: white;
}
.button {
    display: flex;
    flex: 1;
    margin: 3vh;
    flex-grow: 0;
    flex-shrink: 1;
}
.button:hover {
    filter: grayscale(0.5);
    transition-duration: 2s;
}
.bigphoto {
    width: 33vw;
    height: 33vw;
}

.panel {
    display: flex;
    flex: 1;
    justify-content: center;
    overflow: hidden;
}

.panel:hover {
    filter: grayscale(0.5);
    transition-duration: 2s;
}

.bigphoto2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bigphoto2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

@media only screen and (max-width: 600px) {
    .tresc2 {
        flex: 1;
        flex-direction: column-reverse;
        display: flex;
        margin: auto;
        color: white;
        justify-content: center;
        gap: 5%;
    }

    .button {
        display: flex;
        flex: 1;
        margin-bottom: 3vh;
        margin-left: auto;
        margin-right: auto;
        flex-grow: 0;
        flex-shrink: 1;
        text-align: center;
    }

    .bigphoto {
        width: 55vw;
        height: 55vw;
    }

    .blok1 {
        background-image: url('IMG/blok1-1mobile.png');
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: fadeIn 1s;
    }

    p {
        font-size: 4vw;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .blok2 {
        background-image: url('IMG/blok2-1.png');
        background-size: cover;
        background-position: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        animation: fadeIn 1s;
        display: flex;
    }
}