body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: black;
}
.blok1 {
    background-image: url('IMG/blok1-1.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s;
}

.tytul_blok {
    width: 40%;
    text-align: center;
    font-size: 100px;
    font-family: Marker Felt, fantasy;
    background-color: white;
    border-radius: 25px;
    animation: fadeIn 3s;
}

.blok2 {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    animation: fadeIn 1s;
    display: flex;
    align-items: center;
}

.tresc_lewo_blok {
    width: 30%;
    text-align: left;
    font-size: 50px;
    padding-left: 100px;
    animation: fadeIn 3s;
}

.tresc_prawo_blok {
    text-align: right;
    font-size: 50px;
    padding-right: 100px;
    animation: fadeIn 3s;
    margin-left: auto;
    margin-right: 0;
}

.tresc_srodek_blok {
    font-size: 50px;
    padding-right: 100px;
    animation: fadeIn 3s;
    width: 100%;
    text-align: center;
}

.kontakt_blok {
    font-size: 50px;
    padding-right: 100px;
    animation: fadeIn 3s;
    width: 100%;
    padding-left: 100px;
}

.blok3 {
    background-color:tomato;
    width: 100%;
    height: 100%;
    animation: fadeIn 1s;
    display: flex;
    align-items: center;
}

.blok4 {
    background-color: cornflowerblue;
    width: 100%;
    height: 100%;
    animation: fadeIn 1s;
    display: flex;
}

.blok5 {
    background-color: teal;
    width: 100%;
    height: 100%;
    animation: fadeIn 1s;
    display: flex;
    align-items: center;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
