body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: white;
    display: flex;
}
a:hover {
    color: bisque;
    transition-duration: 1s;
}
.blok1 {
    background-image: url('IMG/blok1-1.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s;
}

.tytul_blok {
    width: 40%;
    text-align: center;
    font-size: 7vw;
    animation: fadeIn;
    animation-duration: 1s;
    font-family: Marker Felt, fantasy;
    border-radius: 25px;
}

.blok2 {
    background-image: url('IMG/blok2-1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    animation: fadeIn 1s;
    display: flex;
}

.blok3 {
    background-color: #22170F;
    width: 100%;
    height: 100%;
    animation: fadeIn 1s;
    display: flex;
}

.blok4 {
    background-color: #5D3E29;
    width: 100%;
    height: 5%;
    animation: fadeIn 1s;
    display: flex;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
h1 {
    font-size: 8vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tresc1 {
    flex: 1;
    flex-direction: row;
    display: flex;
    margin-left: 4vh;
    margin-right: 4vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}
.tresc2 {
    flex: 1;
    flex-direction: row;
    display: flex;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 20vh;
    margin-bottom: 20vh;
    color: white;
    justify-content: center;
    gap: 5%;
}
.tresc3 {
    flex: 1;
    flex-direction: row;
    display: flex;
    color: white;
}
.tresc4 {
    flex: 1;
    flex-direction: row;
    display: flex;
    color: white;
}
.button {
    display: flex;
    flex: 1;
    margin: 3vh;
    flex-grow: 0;
    flex-shrink: 1;
}
.button:hover {
    filter: grayscale(0.5);
    transition-duration: 2s;
}
.bigphoto {
    width: 33vw;
    height: 33vw;
}